<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, 'Date of booking: ' %>
    <%= form.date_select :date,{
        start_year: Date.today.year,
        start_month: Date.today.month,
        start_day: Date.today.day
    } %>
  </div>
  <div class="field">
    <%= form.label :time, 'Time of booking: ' %>
    <%= form.time_select :time,
                      {ampm: true,
                       ignore_date: true,
                       start_hour: 9,
                       end_hour: 18,
                        minute_step: 15
                      } %>
  </div>
  <div class = "field">
    <%= form.label :duration, "Duration of booking (minutes):" %>
    <%= form.select :duration, [30, 60] %>
  </div>
  <div class="field">
    <%= form.label :room_id, 'Studio Number: ' %>
    <%= form.select :room_id, [1, 2, 3] %>
  </div>
  <div class = "field" style = 'display:none;'>
    <%= form.select :user_id, [current_user.id]%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<div class = 'extraText'>
  <div class = 'txtTitle'>
    Reminder!
  </div>
  <h4>Studio 1: Our DJ Studio</h4>
  <h4>Studio 2: Our Band Recording Studio</h4>
  <h4>Studio 3: Our Production Studio</h4>
</div>

<div class = 'bookedStudios'>
  <h4>Currently Booked Sessions (cannot overlap!)</h4>
  <table class = 'table table-sm'>
    <thead>
    <tr>
      <th>Date of Booking</th>
      <th>Time of Booking</th>
      <th>Duration (Minutes)</th>
      <th>Studio Number</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% Booking.where.not(user_id: nil).each do |booking| %>
        <tr>
          <td><%= booking.date %></td>
          <td><%= t = booking.time
                  t.strftime("%I:%M%p")%></td>
          <td><%=booking.duration %></td>
          <td><%= booking.room_id %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>

