<% if signed_in? %>
  <% if !current_user.is_admin %>
    <script type="text/javascript">
        window.location.href="/index"
    </script>
  <% end %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=h1 = t('booking.title') %></h1>
    <p class="lead"><%=p = t('booking.description') %></p>
  </div>
</div>

<table class = 'table table-hover'>
  <thead class="thead-light">
    <tr>
      <th><%=th = t('booking.date') %></th>
      <th><%=th = t('booking.time') %></th>
      <th><%=th = t('booking.duration') %></th>
      <th><%=th = t('booking.std_no') %></th>
      <th><%=th = t('booking.cost') %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <tr>
          <td><%= booking.date %></td>
          <td><%= t = booking.time
                  t.strftime("%I:%M%p")%></td>
          <td><%=booking.duration %></td>
          <td><%= booking.room_id %></td>
          <%@rooms = Room.find_by_room_id(booking.room_id) %>
          <td>£<%=@rooms.price %></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to 'Show', booking %></button></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_booking_path(booking) %></button></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to 'Remove', booking, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        </tr>
      <%end %>
    <% end %>
  </tbody>
</table>

<br>
<div class = 'newBooking'>
  <button type="button" class="btn btn-success"><%= link_to 'New Booking', new_booking_path %></button>
</div>
<br>
<div class = 'totalSpent'>
  <button type = 'button' class = "btn btn-info" id = 'show'>Click Me To View Total Spent</button>
  <div class = 'totalSpent_show'>
    <div class = 'totalSpent_text'>
      You have spent
    £<%= get_total_spent %> on studio sessions!<br>
    </div>
</div>

</div>