<p id="notice"><%= notice %></p>
<ul class="list-group">
  <li class="list-group-item"><strong>Date:   </strong>
    <%= @booking.Date %></li>
  <li class="list-group-item"><strong>Time:   </strong>
    <%= @booking.Time %></li>
  <li class="list-group-item"><strong>Studio Number:   </strong>
    <%= @booking.RoomNo%></li>
  <li class="list-group-item"><strong>User ID:   </strong>
    <%= @booking.User_ID%>
</ul>

<button type="button" class="btn btn-secondary"><%= link_to 'Edit', edit_booking_path(@booking) %></button> |
  <button type="button" class="btn btn-secondary"><%= link_to 'Back', bookings_path %></button>
</div>