<p id="notice"><%= notice %></p>
<div class= 'showInfo'>
<p>
  <strong>Date:   </strong>
  <%= @booking.Date %>
</p>

<p>
  <strong>Time:   </strong>
  <%= @booking.Time %>
</p>

<p>
  <strong>Room Number:   </strong>
  <%= @booking.RoomNo %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
</div>