<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=h1 = t('room.title') %></h1>
    <p class="lead"><%=p = t('room.description') %></p>
  </div>
</div>
<table width="100%">
  <tr>
    <td width="25%">
      <img src = '/djbooth1.jpg' class = 'studio1'>
      <p class="studio1Text"><%=t('room.st1.title') %><br><ul style='font-size:15px'><li><%=t('room.st1.item1') %></li>
      <li><%=t('room.st1.item2') %></li><li><%=t('room.st1.item3') %></li><li><%=t('room.st1.price') %></li></ul>
      <button type="button" class="btn btn-info"><a href = '/bookings/new'><%=t('room.book') %></a></button>
    </td>
    <td width="25%">
      <img src = '/bandstudio.jpg' class = 'studio2'>
      <p class="studio1Text"><%=t('room.st2.title') %><br><ul style='font-size:15px'><li><%=t('room.st2.item1') %></li><li><%=t('room.st2.item2') %></li>
      <li><%=t('room.st2.price') %></li></ul>
      <button type="button" class="btn btn-info"><a href = '/bookings/new'><%=t('room.book') %></a></button></p>
    </td>
    <td width="25%">
      <img src = '/studio3.jpg' class = 'studio2'>
      <p class="studio1Text"><%=t('room.st3.title') %><ul style='font-size:15px'>
      <li><%=t('room.st3.item1') %></li><li><%=t('room.st3.item2') %></li><li><%=t('room.st3.item3') %></li><li><%=t('room.st3.price') %></li></ul>
      <button type="button" class="btn btn-info"><a href = '/bookings/new'><%=t('room.book') %></a></button></p>
    </td>
  </tr>
</table>

