<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <footer> <% if signed_in? %>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/index">JStudios</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/sign_in">Sign In</a></li>
                <li><a href="/bookings">Book A Studio</a></li>
                <li><a href="/rooms">Our Studios</a></li>
                <li><a href="/contacts">Contact Us</a></li>
                <li><%= current_user.email %></li>
                <li><%= button_to "Sign out", sign_out_path, method: :delete %></li>
              </ul>
            </div>


        <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %>
          </nav>

      </footer>
    <%= yield %>
  </body>
</html>
