<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index">JStudios</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/sign_in">Sign In</a></li>
        <li><a href="/bookings">Book A Studio</a></li>
        <li><a href="#">View Bookings</a></li>
        <li><a href="/barbers">Contact Us</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#"><% if signed_in? %>
            <%= current_user.email %>
            <%= button_to "Sign out", sign_out_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", sign_in_path %>
          <% end %></a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
